.jumbotron {
    margin-bottom: 0px;
    background-color:#372272;
    background-image:
    radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
    background-repeat: repeat;
    padding: 30px 0px;
}

header > h1 {
    color: #ffcb9a;
    font-family: 'Abel', sans-serif;

}

header > p {
    color: hsl(29, 89%, 83%);
    font-family: 'Raleway', sans-serif;
}